<%= form_for([:employee, @datelog]) do |f| %>
  <% if @datelog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datelog.errors.count, "error") %> prohibited this datelog from being saved:</h2>

      <ul>
      <% @datelog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :daylog, "Date" %><br />
    <%= f.date_select :daylog %>
  </div>

  <h2>Timelogs</h2>

  <%= render @datelog.timelogs %>
 
  <%- if @datelog.persisted? %>
    <%= link_to 'Add Timelog', new_employee_datelog_timelog_url(@datelog.employee, @datelog) %>
  <%- end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
