<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Code</th>
    <th>Tottime</th>
    <th>Altid</th>
    <th>Division</th>
    <th>Creation</th>
    <th>Admin</th>
  </tr>

  <tr>
    <td><%= @employee.name %></td>
    <td><%= @employee.title %></td>
    <td><%= @employee.code %></td>
    <td><%= @employee.tottime %></td>
    <td><%= @employee.altid %></td>
    <td><%= @employee.division_id %></td>
    <td><%= @employee.creation %></td>
    <td><%= @employee.admin %></td>
  </tr>

</table>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :tottime %><br />
    <%= f.number_field :tottime %>
  </div>
  <div class="field">
    <%= f.label :altid %><br />
    <%= f.number_field :altid %>
  </div>
  <div class="field">
    <%= f.label :division_id %><br />
    <%= f.number_field :division_id %>
  </div>
  <div class="field">
    <%= f.label :creation %><br />
    <%= f.datetime_select :creation %>
  </div>
  <div class="field">
    <%= f.label :admin %><br />
    <%= f.text_field :admin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
