<h1>Listing employees</h1>

<table>

  <tr>
    <th align="left">Name</th>
    <th align="left">Title</th>
    <th></th>
    <th align="left">Code</th>
    <th></th>
    <th align="left">Tot Time</th>
    <th></th>
    <th align="left">Altid</th>
    <th align="left">Division</th>
    <th align="left">Creation</th>
    <th align="left">Admin</th>
    <th></th>
    <th></th>
    <th></th>
<COLGROUP>
   <COL width="100">
   <COL width="50">
   <COL width="25">
   <COL width="40">
   <COL width="25">
   <COL width="40">
   <COL width="25">
   <COL width="50">
   <COL width="100">
   <COL width="100">
   <COL width="50">
   <COL width="0*">
   <COL width="0*">
   <COL width="0*">
<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.title %></td>
    <td></td>
    <td><%= employee.code %></td>
    <td></td>
    <td><%= employee.timelogs.sum('hourlog') %></td>
    <td></td>
    <td><%= employee.altid %></td>
    <td><%= employee.division_id %></td>
    <td><%= employee.creation %></td>
    <td><%= employee.admin %></td>
    <td><%= link_to 'Log Time', employee %></td>
    <td><%= link_to 'Edit Employee', edit_employee_path(employee) %></td>
    <td><%= link_to 'Remove Employee Record', employee, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a New Employee', new_employee_path %>
