- provide(:title, @employee.name)
%div{:class=>"row"}
  %aside.span4
    %section
      %h1= @employee.name
%p{:id=>"notice"}
  = notice
%table.erictable
  %tr
    %th Name
    %th Title
    %th
    %th Total Time
    %th
    %th Altid
    %th Division
    %th Admin
    %th
  %COLGROUP
    %COL{:width=>"100"}
    %COL{:width=>"50"}
    %COL{:width=>"25"}
    %COL{:width=>"40"}
    %COL{:width=>"25"}
    %COL{:width=>"50"}
    %COL{:width=>"100"}
    %COL{:width=>"75"}
    %COL{:width=>"100"}
  %tr
    %td= @employee.name
    %td= @employee.title
    %td
    %td= @employee.tottime
    %td
    %td= @employee.altid
    %td= @employee.division_id
    %td= @employee.admin
    %td= link_to 'Edit Employee', edit_employee_path(@employee)
%br/
%br/
%h2 Time Logged by Date
= render @employee.datelogs
= link_to 'Add New Datelog', new_employee_datelog_path(@employee,@datelog)
%br/
= link_to 'View Datelog Index', employee_datelogs_path(@employee,@datelog)
= link_to 'Edit', edit_employee_path(@employee)
= link_to 'Back', employees_path
