<%= form_for([@employee, @datelog, @datelog.timelogs.build]) do |f| %>
  <div class="field">
    <%= f.label :type %>
    <%= f.select :type, [['General Development','"General Dev'], ['Dev Review','Dev Review'], ['General','General'], ['Travel','Travel'], ['Meeting','Meeting'], ['Billable Customer Dev','Billable Customer Dev'],['Debugging','Debugging'], ['Lunch','Lunch'], ["'Honestly I don't know'","'Honestly I don't know'"], ['Reddit','Reddit']] %><br />
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :hourlog %><br />
    <%= f.number_field :hourlog %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
